<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/photos/banner_hu_bd8330c75c01695c.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="developer" content="https://ssekabirarobertsims.netlify.app" />
    <meta name="version" content="v1.0.4" />
    <meta name="tech" content="mern stack" />
    <meta name="theme" content="#101010" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Liter&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <title>Web Authentication Services Error</title>
    <link rel="stylesheet" href="/index.css" />
</head>
<body> 
    <main class="error-page">
        <div class="site-developer-navigation-component">
            <p>Need help from me?</p>
            <a href="http://ssekabirarobertsims.netlify.app" target="_blank">
              <img src="/photos/robertsims.jpg" alt="" />
            </a>
          </div>
        <section class="404">
            <h1>Error 404</h1>
            <p>Resource Or Page Not Found!</p>
        </section>
    </main>
</body>
</html>