<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="developer" content="https://robertsims.netlify.app" />
    <meta name="version" content="v1.0.0" />
    <meta name="tech" content="mern stack" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Liter&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <title>Web Authentication Services</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
    <main>
        <section>
            <h1>Web Authentication Services Api</h1>
            <p>
                A super, safe and fast tool for handling users authentication and authorization for your ui design
                in just one fastest, quickest and safest number on place to boost your development for your web 
                applications and sites
            </p>
            <a href="https://web-auth-services.netlify.app" target="_blank">Get Started!</a>
        </section>
    </main>
</body>
</html>