<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/svg+xml" href="/photos/banner_hu_bd8330c75c01695c.webp" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="developer" content="https://robertsims.netlify.app" />
    <meta name="version" content="v1.0.3" />
    <meta name="tech" content="mern stack" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Liter&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <title>Web Authentication Services</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
    <main>
        <section>
            <!-- <h1>The ultimate starter web authentication api free services for your project.</h1> -->
            <h1>THE ULTIMATE STARTER WEB AUTHENTICATION API FREE SERVICES FOR YOUR PROJECT.</h1>
            <p>
                Handle and make safe and secure authentications for users for your
            ui sites design without handling any backend codes with just one
            platform in one secure place like this.
            </p>
            <br>
            <a href="https://web-auth-services.netlify.app" target="_blank">
                <button type="button">Get Started Free</button>
            </a>
            <br>
            <br>
            <img src="/photos/banner_hu_bd8330c75c01695c.webp" alt="">
            <div class="site-developer-navigation-component">
                <p>Need help from me?</p>
                <a href="http://robertsims.netlify.app" target="_blank">
                  <img src="/photos/robertsims.jpg" alt="" />
                </a>    
            </div>
        </section> 
    </main>
</body>
</html>